<header>
  <nav class="nav">
    <label for="toggle-nav" data-icon="☰" role="navigation"></label>
    <input type="checkbox" id="toggle-nav">
    <span class="brand"><img class="navLogo" src="assets/logoSite.svg" type="image/svg+xml"/></span>        
    <ul class="menu" role="menu" >
      <li *ngFor="let menuItem of menuItems"><a href="{{menuItem.href}}" class="{{menuItem.class}}">{{menuItem.title}}</a></li>
    </ul>
  </nav>
  <div class="container-fluid nopadding" id="start">
    <div class="page-header nopadding">
      <div class="headerBackgroundWrapper">
        <div id="logoAnim" class="logoAnim"></div>
        <img class="headerBackground" src="assets/headerBackground.svg" type="image/svg+xml"/> 
      </div>
    </div>
  </div>
</header>

<main>

  <div class="evenea">
    <div class="col-lg-11 col-centered">
      <p id="evenea-txt">ZAPISY RUSZYŁY!</p>
    </div>
    <div id="evenea-r" class="col-lg-11 col-centered">
      <a id="evenea-btn" href="https://lwd2017.evenea.pl">ZAPISZ SIĘ<span class="fa fa-pencil fa-icon"></span></a>
    </div>
  </div>

  <div class="information-main">
    <div class="row">
        <div class=" col-sm-6 col-md-6 col-lg-6 padding-horizontal padding-vertical-mob bottom-buffer-1">
            <img class="col-centered top-buffer-2 bottom-buffer-1" src="assets/RIcon.svg" type="image/svg+xml"/>
            <p>Dwudniowa seria bezpłatnych warsztatów przygotowanych przez praktyków z wielu prestiżowych firm zajmujących się innowacyjnymi rozwiązaniami w świecie IT 💻 oraz szeroko pojętego biznesu. 💰</p>
        </div>
        <div class=" col-sm-6 col-md-6 col-lg-6 padding-horizontal padding-vertical-mob bottom-buffer-1">
            <img class="col-centered top-buffer-2 bottom-buffer-1" src="assets/LIcon.svg" type="image/svg+xml"/>
            <p>Na warsztatach zdobędziesz niezbędną wiedzę 💡, a przede wszystkim praktyczne umiejętności w wybranej przez Ciebie tematyce. W tym roku przewidujemy jeszcze więcej atrakcji i jeszcze większą porcję nowinek z IT. Będzie się działo!</p>
        </div>
    </div>
  </div>

  <div class="information-additional">
    <div class="row">
      <div class="col-lg-12 padding-horizontal padding-vertical-mob">
        <p>Wydarzenie dedykowane jest studentom kierunków o profilach informatycznych, inżynierom IT oraz wszystkim zainteresowanym programowaniem oraz analityką biznesową. Ponad 160 osób będzie miało okazję wziąć udział w prelekcjach autorytetów w dziedzinie IT na Wydziale Zarządzania Uniwersytetu Gdańskiego. Lider Workshop Days to doskonałe miejsce zarówno do nawiązania kontaktów ze znawcami i specjalistami nowych technologii, jak i wymiany wzajemnych doświadczeń.</p>
      </div>
    </div>
  </div>

  <div class="head container-fluid">
    <div id="warsztaty" class="row-fluid">
      <h1>WARSZTATY</h1>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="{{x%2==0?'left col-sm-6 col-md-6 col-lg-6 side col-centered nopadding':'right col-sm-6 col-md-6 col-lg-6 side col-centered nopadding'}}" *ngFor="let scheduleItems of days; let x = index">
        <div *ngFor="let scheduleItem of scheduleItems; let y = index" class="{{scheduleItem.classMain}}">
          <div *ngIf="scheduleItem.itemType == 1"  class="row-fluid">
            <div class="{{scheduleItem.classTitle}}"> 
              <h3>{{scheduleItem.title}}</h3>
            </div>
            <div class="{{scheduleItem.classHour}}">
              <h6>{{scheduleItem.hour}}</h6>
            </div>
            <div class="{{scheduleItem.classContent}}">
              <h6>{{scheduleItem.content}}</h6>
            </div>
          </div>
          <div *ngIf="scheduleItem.itemType == 2" class="{{scheduleItem.classTitle}}">
            <h4>{{scheduleItem.title}}</h4>
          </div>
          <div *ngIf="scheduleItem.itemType == 3">
          <div class="{{scheduleItem.classTitle}}">
            <h5><div *ngFor="let textBreaked of scheduleItem.title.split('<br>')">{{textBreaked}}<br/></div></h5>
          </div>
          <div class="{{scheduleItem.separatorClass}}"></div>
          <div>
            <div class="{{scheduleItem.classHour}}">
              <h6>{{scheduleItem.hour}}</h6>
            </div>
            <div class="{{scheduleItem.classContent}}">
              <h6>{{scheduleItem.content}}</h6>
            </div>
          </div>
          <div class="{{scheduleItem.classMore}}">
            <a href="#{{scheduleItem.href}}" class="nopadding" ><!--onclick="return false"-->
              <h6 class="on-hover-scale-up">{{scheduleItem.more}}</h6>
            </a>
          </div>
        </div>

        <section *ngIf="scheduleItem.itemType == 3" class="modal--show" id="{{scheduleItem.href}}" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
          <div class="modal-inner">
            <header id="modal-label">
              <div *ngFor="let textBreaked of scheduleItem.title.split('<br>')">{{textBreaked}}<br/></div>
            </header>
            <div class="modal-content">
              <div class="bottom-buffer-2">
                <div *ngFor="let textBreaked of scheduleItem.description.split('<br>')"><p>{{textBreaked}}<br/></p></div>
              </div>       
              <div id="evenea-r" class="col-lg-12 col-centered bottom-buffer-2">         
                <a id="evenea-btn" href="https://lwd2017.evenea.pl">ZAPISZ SIĘ<span class="fa fa-pencil fa-icon"></span></a>       
              </div>
            </div>
            <footer class="modal-footer"></footer>
          </div>
          <a href="#!" class="modal-close" title="Close this modal" data-close="Zamknij" data-dismiss="modal">?</a>
        </section>
      </div>
      </div>
    </div>
  </div>

  <div class="head container-fluid">
    <div id="trenerzy" class="row-fluid">
      <h1>TRENERZY</h1>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row" *ngFor="let coachesRow of coaches">
      <div *ngFor="let coachesPair of coachesRow; let x = index">
        <div class="{{x%2==0?'left col-sm-6 col-md-6 col-lg-6 side col-centered nopadding':'right col-sm-6 col-md-6 col-lg-6 side col-centered nopadding'}}">
          <div class="nopadding display-inline" *ngFor="let coach of coachesPair; let y = index">
            <a href="#{{coach.href}}" class="nopadding" >
              <div class="{{y%2==0?'left-div':'right-div'}}"> 
                <div class="row padding-vertical"> 
                  <img src="{{coach.srcImg}}" type="image/svg+xml" class="img-responsive"/>
                </div>
                <div class="row">
                  <img src="{{coach.srcDesc}}" type="image/svg+xml" class="img-responsive"/>
                </div>
              </div>
            </a>
            <section class="modal--show" id="{{coach.href}}" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
              <div class="modal-inner">
                <header id="modal-label">
                  {{coach.name}}
                </header>
                <div class="modal-content">
                  <div class="col-sm-3">
                    <img src="{{coach.srcImg}}" type="image/svg+xml" class="img-responsive"/> 
                  </div>
                  <br>
                  <div class="col-sm-9">
                    {{coach.desc}}
                  </div>
                </div>
                <footer class="modal-footer"></footer>
              </div>
              <a href="#!" class="modal-close" title="Close this modal" data-close="Zamknij" data-dismiss="modal">?</a>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="head container-fluid" id="patroni">
    <div id="patroni" class="row-fluid">
      <h1>PATRONI</h1>
    </div>
  </div>

  <div class="patrons">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-md-3 col-sm-4 col-xs-6" *ngFor="let patron of patrons">
          <a href="{{patron.href}}"><img src="{{patron.src}}" class="{{patron.class}}"/></a>
        </div>
      </div>
    </div>
  </div>

  <div class="head container-fluid" id="miejsce">
    <div id="miejsce" class="row-fluid">
      <h1>MIEJSCE</h1>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="left col-sm-6 col-md-6 col-lg-6 side col-centered nopadding ">
        <div class="place">
          <h2>JAK NAJŁATWIEJ DOJECHAĆ?</h2>
          <br>
          <p><strong>Wydział Zarządzania, Centrum Dydaktyczno-Konferencyjne</strong>
          <br>ul. Piaskowa 9, 81-864 Sopot </p>
          <br>
          <p>Przydatny może się okazać adres <strong><br><a href="http://trojmiasto.jakdojade.pl/">http://trojmiasto.jakdojade.pl/</a></strong></p>
        </div>        
      </div>
      <div class="right col-sm-6 col-md-6 col-lg-6 side col-centered nopadding">
        <agm-map [latitude]="position[0]" [longitude]="position[1]" [zoom]=18 >
          <agm-marker [latitude]="position[0]" [longitude]="position[1]"></agm-marker>            
        </agm-map>
      </div>
    </div>
  </div>

</main>

<footer >
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-centered top-buffer-2">
        <a href="http://wzr.pl" target="_blank" title="Wydział Zarządzania Uniwersytetu Gdańskiego">Wydział Zarządzania Uniwersytetu Gdańskiego</a>
        <br>
        <a class="copyright" href="http://knilider.org" target="_blank" title="Koło Naukowe Informatyki L!der">2017 Koło Naukowe Informatyki <strong>L<span>!</span>der</strong></a>
      </div>
    </div>
    <div class="row top-buffer-1">
      <div class="col-lg-12 col-centered">
        <a class="social"  href="https://www.youtube.com/channel/UClZQSCK7B51aB9kSTFimrIw" target="_blank"><i class="fa fa-3x fa-social fa-youtube text-inverse"></i></a>
        <a class="social"  href="https://www.instagram.com/kni.lider/" target="_blank"><i class="fa fa-3x fa-social fa-instagram text-inverse"></i></a>      
        <a class="social"  href="https://www.facebook.com/KNI.Lider/" target="_blank"><i class="fa fa-3x fa-social fa-facebook text-inverse"></i></a>
      </div>
    </div>
  </div>
</footer>