<header>
  <nav class="nav">
    <label for="toggle-nav" data-icon="☰" role="navigation"></label>
    <input type="checkbox" id="toggle-nav">
    <span class="brand"><img class="navLogo" src="assets/logoSite.svg" type="image/svg+xml"/></span>        
    <ul class="menu" role="menu">
      <!-- <li><a href="#">LWD na UG</a></li> -->
      <li><a href="#warsztaty">Warsztaty</a></li>
      <!-- <li><a href="#">Trenerzy</a></li> 
      <li><a href="#">Patroni</a></li>
      <li><a href="#">Miejsce</a></li> -->
      <li ><a href="https://lwd2017.evenea.pl"class="special">Rejestracja</a></li>
    </ul>
  </nav>
  <div class="container-fluid nopadding">
    <div class="page-header nopadding">
      <div class="headerBackgroundWrapper">
        <div id="logoAnim" class="logoAnim"></div>
        <img class="headerBackground" src="assets/headerBackground.svg" type="image/svg+xml"/> 
      </div>
    </div>
  </div>
</header>

<main>

  <div class="evenea">
    <div class="col-lg-11 col-centered">
      <p id="evenea-txt">ZAPISY RUSZYŁY!</p>
    </div>
    <div id="evenea-r" class="col-lg-11 col-centered">
      <a id="evenea-btn" href="https://lwd2017.evenea.pl">ZAPISZ SIĘ<span style="color:white; margin-left: 7px" class="fa fa-pencil"></span></a>
    </div>
  </div>

  <div class="head container-fluid">
    <div id="warsztaty" class="row-fluid">
      <h1>WARSZTATY</h1>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="left col-sm-6 col-md-6 col-lg-6 side col-centered nopadding">
        <div class="scheduleSubHeadRedF">
          <div class="row-fluid">
            <h3>07.11.2017</h3>
            <div class="hoursR">
                <h6>10:00 - 11:00</h6>
              </div>
              <div class="coachR">
                <h6>Rejestracja</h6>
              </div>
          </div>
        </div>
        <div class="scheduleSubHeadBlue">
          <div class="row-fluid">
            <h4>Analityka</h4>
          </div>
        </div>
        <div class="scheduleWorkshopRed">


            <div class="title">
                <h5>Dowiedz się, co w sieci piszczy. Monitoring internetu jako źródło wiedzy o dyskusjach internautów.</h5>
                </div>
                <div class="separator"></div>
                <div>
                  <div class="hours">
                    <h6>11:30 - 15:00 - SALA C24</h6>
                  </div>
                  <div class="coach">
                    <h6>Rafał Miazga (SentiOne)</h6>
                  </div>
                </div>
                <div class="more">
                  <a href="#modal-sentione" class="nopadding" ><!--onclick="return false"-->
                      <h6><strong>Więcej</strong></h6>
                  </a>
                </div>
        </div>
        <div class="scheduleWorkshopBlue">


                    <div class="title">
                        <h5>Budowanie strategii social media <br>dla marki  </h5>
                        </div>
                            <div class="separator"></div>
                            <div>
                              <div class="hours">
                                <h6>15:15- 18:00 - SALA C21</h6>
                              </div>
                              <div class="coach">
                                <h6>Katarzyna Kant (Catta Consulting)</h6>
                              </div>
                            </div>
                            <div class="more">
                              <a href="#modal-catta" class="nopadding">
                                <h6><strong>Więcej</strong></h6>
                              </a>
                            </div> 

        </div>
        <div class="scheduleSubHeadRed">
          <div class="row-fluid">
            <h4>Programowanie</h4>
          </div>
        </div>
        <div class="scheduleWorkshopBlue">
            <div class="title">
                <h5>Spring Framework <br> Live Coding</h5>
              </div>
                <div class="separator"></div>
                <div>
                  <div class="hours">
                    <h6>11:30 - 15:00 - SALA C36</h6>
                  </div>
                  <div class="coach">
                    <h6>Asseco</h6>
                  </div>
                </div>
                <div class="more">
                  <a href="#modal-asseco" class="nopadding">
                    <h6><strong>Więcej</strong></h6>
                  </a>
                </div>
        </div>
        <div class="scheduleWorkshopRed">
                    
            <div class="title">
                <h5>Podstawy programowania w Pythonie wraz z wizualizacją danych</h5>
                </div>
                    <div class="separator"></div>
                    <div>
                      <div class="hours">
                        <h6>15:15- 19:00 - SALA C36</h6>
                      </div>
                      <div class="coach">
                        <h6>Robert Szulist (Aplitt)</h6>
                      </div>
                    </div>
                    <div class="more">
                      <a href="#modal-aplitt" class="nopadding">
                          <h6><strong>Więcej</strong></h6>
                      </a>
                    </div>
        </div>
      </div>
      <div class="right col-sm-6 col-md-6 col-lg-6 col-centered nopadding">
          <div class="scheduleSubHeadBlueSF">
            <div class="row-fluid">
              <h3>08.11.2017</h3>
              <div class="hoursR">
                  <h6>10:00 - 11:00</h6>
                </div>
                <div class="coachR">
                  <h6>Rejestracja</h6>
                </div>
            </div>
          </div>
          <div class="scheduleSubHeadRedS">
            <div class="row-fluid">
              <h4>Analityka</h4>
            </div>
          </div>
          <div class="scheduleWorkshopBlueS">
              <div class="title">
                  <h5>Praca w metodologii Kanban <br>na bazie firmy informatycznej</h5>
                  </div>
                      <div class="separator"></div>
                      <div>
                        <div class="hours">
                          <h6>12:00- 15:00 - SALA C21</h6>
                        </div>
                        <div class="coach">
                          <h6>Adam Cetnerowski (Intel)</h6>
                        </div>
                      </div>
                      <div class="more">
                        <a href="#modal-adam" class="nopadding">
                          <h6><strong>Więcej</strong></h6>
                        </a>
                      </div>
          </div>
          
          <div class="scheduleWorkshopRedS">

              <div class="title">
                  <h5>Piramida zmian <br> zarządzaj własnym rozwojem</h5>
                  </div>
                      <div class="separator"></div>
                      <div>
                        <div class="hours">
                          <h6>16:00 - 18:00 - SALA C21</h6>
                        </div>
                        <div class="coach">
                          <h6>Beata Butkiewicz (CRT)</h6>
                        </div>
                      </div>
                      <div class="more">
                        <a href="#modal-crt" class="nopadding">
                          <h6><strong>Więcej</strong></h6>
                        </a>
                      </div>

              
          </div>
          <div class="scheduleSubHeadBlueS">
              <div class="row-fluid">
                <h4>Programowanie</h4>
              </div>
            </div>
            <div class="scheduleWorkshopRedS">
                <div class="title">
                    <h5>Testowanie <br> eksploracyjne</h5>
                    </div>
                        <div class="separator"></div>
                        <div>
                          <div class="hours">
                            <h6>11.15 - 15.00 - SALA C36</h6>
                          </div>
                          <div class="coach">
                            <h6>Karol Gierszewski (Goyello)</h6>
                          </div>
                        </div>
                        <div class="more">
                          <a href="#modal-yello1" class="nopadding">
                            <h6><strong>Więcej</strong></h6>
                          </a>
                        </div>
            </div>
            <div class="scheduleWorkshopBlueS">
                <div class="title">
                    <h5>Rozwój aplikacji w podejściu TDD <br>(Test Driven Development)</h5>
                    </div>
                        <div class="separator"></div>
                        <div>
                          <div class="hours">
                            <h6>15.15-19.00 - SALA C36</h6>
                          </div>
                          <div class="coach">
                            <h6>Michał Michalczuk, Mateusz Turzyński (Goyello)</h6>
                          </div>
                        </div>
                        <div class="more">
                          <a href="#modal-yello2" class="nopadding">
                            <h6><strong>Więcej</strong></h6>
                          </a>
                        </div>       
            </div>
      </div>
    </div>
  </div>
<!-- 
  <div class="head container-fluid">
    <div id="trenerzy" class="row-fluid">
      <h1>TRENERZY</h1>
    </div>
  </div>

  <div class="head container-fluid">
    <div id="patroni" class="row-fluid">
      <h1>PATRONI</h1>
    </div>
  </div>

  <div class="head container-fluid">
    <div id="miejsce" class="row-fluid">
      <h1>MIEJSCE</h1>
    </div>
  </div> -->
  <!--
  <div class="info">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]=18 >
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>            
    </agm-map>
  </div>
-->
</main>


<section class="modal--show" id="modal-sentione" tabindex="-1"
role="dialog" aria-labelledby="modal-label" aria-hidden="true">

<div class="modal-inner">
<header id="modal-label">Dowiedz się, co w sieci piszczy. Monitoring internetu jako źródło wiedzy o dyskusjach internautów<!-- Header --></header>
<div class="modal-content"><!-- The modals content --></div>
<footer class="modal-footer"><!-- Footer --></footer>
</div>

<a href="#!" class="modal-close" title="Close this modal" data-close="Close"
data-dismiss="modal">?</a>
</section>

<section class="modal--show" id="modal-catta" tabindex="-1"
role="dialog" aria-labelledby="modal-label" aria-hidden="true">

<div class="modal-inner">
<header id="modal-label">Budowanie strategii social media dla marki<!-- Header --></header>
<div class="modal-content">Podczas warsztatu dowiecie się, jak w spójny i przemyślany sposób zbudować strategię działań w social media dla marki lub organizacji pozarządowej. Poznacie narzędzia, które pomogą analizować efekty pracy i optymalizować kampanie.
    <!-- The modals content --></div>
<footer class="modal-footer"><!-- Footer --></footer>
</div>

<a href="#!" class="modal-close" title="Close this modal" data-close="Close"
data-dismiss="modal">?</a>
</section>

<section class="modal--show" id="modal-asseco" tabindex="-1"
role="dialog" aria-labelledby="modal-label" aria-hidden="true">

<div class="modal-inner">
<header id="modal-label">Spring Framework <br> Live Coding<!-- Header --></header>
<div class="modal-content"><!-- The modals content --></div>
<footer class="modal-footer"><!-- Footer --></footer>
</div>

<a href="#!" class="modal-close" title="Close this modal" data-close="Close"
data-dismiss="modal">?</a>
</section>

<section class="modal--show" id="modal-aplitt" tabindex="-1"
role="dialog" aria-labelledby="modal-label" aria-hidden="true">

<div class="modal-inner">
<header id="modal-label">Podstawy programowania w Pythonie wraz z wizualizacją danych<!-- Header --></header>
<div class="modal-content">Warsztat skierowany do osób początkujących, podczas którego można będzie się nauczyć sterowania programem, podstaw obróbki i prezentacji danych.<!-- The modals content --></div>
<footer class="modal-footer"><!-- Footer --></footer>
</div>

<a href="#!" class="modal-close" title="Close this modal" data-close="Close"
data-dismiss="modal">?</a>
</section>

<section class="modal--show" id="modal-adam" tabindex="-1"
role="dialog" aria-labelledby="modal-label" aria-hidden="true">

<div class="modal-inner">
<header id="modal-label">Praca w metodologii Kanban <br>na bazie firmy informatycznej<!-- Header --></header>
<div class="modal-content">Kanban obok Scrum jest jedną z najbardziej popularnych metodologii zwinnych. Podczas warsztatów uczestnicy będą mieli możliwość zapoznania się założeniami teoretycznymi metodologii jak również przejść symulację kierowania zespołem korzystającym z Kanban przy tworzeniu oprogramowania.    <!-- The modals content --></div>
<footer class="modal-footer"><!-- Footer --></footer>
</div>

<a href="#!" class="modal-close" title="Close this modal" data-close="Close"
data-dismiss="modal">?</a>
</section>



<section class="modal--show" id="modal-crt" tabindex="-1"
role="dialog" aria-labelledby="modal-label" aria-hidden="true">

<div class="modal-inner">
<header id="modal-label">Piramida zmian <br> zarządzaj własnym rozwojem<!-- Header --></header>
<div class="modal-content">Korzyści:<br>zidentyfikujesz własne kompetencje <br>dowiesz się, jak proaktywną postawą stymulować własny potencjał <br>świadomie zaplanujesz swoją przyszłość zawodową<!-- The modals content --></div>
<footer class="modal-footer"><!-- Footer --></footer>
</div>

<a href="#!" class="modal-close" title="Close this modal" data-close="Close"
data-dismiss="modal">?</a>
</section>


<section class="modal--show" id="modal-yello1" tabindex="-1"
role="dialog" aria-labelledby="modal-label" aria-hidden="true">

<div class="modal-inner">
<header id="modal-label">Testowanie <br> eksploracyjne<!-- Header --></header>
<div class="modal-content">Testowanie eksploracyjne to sposób przeprowadzania testów przy jednoczesnej nauce zasad funkcjonowania aplikacji. Podczas warsztatu nauczymy się w jaki sposób przeprowadzić efektywną sesję testów eksploracyjnych oraz na jakie aspekty podczas testowania należy zwracać szczególną uwagę. Efektem prac będzie raport o stanie jakości dowolnej wybranej przez siebie aplikacji internetowej.
<br>Opis rozszerzony: Testowanie eksploracyjne polega na przeprowadzaniu testów oprogramowania przy jednoczesnej
nauce zasad funkcjonowania danej aplikacji. Podczas warsztatu nauczymy się w jaki sposób
przeprowadzić efektywną sesję testów eksploracyjnych oraz na jakie aspekty należy zwracać
szczególną uwagę.
Warsztat będzie składał się z trzech części:
1. Wprowadzenie do testowania (nie tylko eksploracyjnego).
Razem w uczestnikami poszukamy odpowiedzi na wszystkie nurtujące pytania dotyczące
testowania oprogramowania. Dowiemy się, dlaczego testowanie jest takie ważne i jakie
wpadki związane brakiem albo niewłaściwym testowaniem mogliśmy odnotować w
ostatnich latach. Opowiem również o swojej codziennej pracy – jaka jest rola testera
oprogramowania w zespole, nie tylko jakie są jego zadania i obowiązki, ale też z jakimi
wyzwaniami może się mierzyć na co dzień.
2. Testowanie aplikacji
Na specjalnie przygotowanej aplikacji, zawierającej kilkanaście zadań testerskich uczestnicy
będą mogli przećwiczyć swoje umiejętności, a później zweryfikować znalezione błędy w
oparciu o dokumentację dostarczoną przez jej twórcę. Dzięki temu zadaniu dowiemy się,
jakie błędy mogą występować w aplikacjach i w jaki sposób efektywnie ich szukać.
3. Przeprowadzenie sesji testów eksploracyjnych na wybranej aplikacji
Uzbrojeni w wiedzę teoretyczną i doświadczenie z poprzedniego zadania, uczestnicy
warsztatu przeprowadzą sesję eksploracyjną wybranej przez siebie aplikacji (strony)
internetowej. Podsumowaniem będzie raport zawierający wszystkie niezbędne informacje o
stanie jakości przedmiotu sesji testów.
<!-- The modals content --></div>
<footer class="modal-footer"><!-- Footer --></footer>
</div>

<a href="#!" class="modal-close" title="Close this modal" data-close="Close"
data-dismiss="modal">?</a>
</section>



<section class="modal--show" id="modal-yello2" tabindex="-1"
role="dialog" aria-labelledby="modal-label" aria-hidden="true">

<div class="modal-inner">
<header id="modal-label">Rozwój aplikacji w podejściu TDD <br>(Test Driven Development)<!-- Header --></header>
<div class="modal-content">Zapraszamy na warsztaty Test-Driven Development. Podczas spotkania dowiesz się czym są testy
jednostkowe, czym jest technika TDD oraz jak testy pozwalają utrzymywać czysty kod. Przewidujemy
pair-programming, pisanie kodu techniką RGF (red-green- refactor) oraz rozwiązywane realnych
przypadków biznesowych.<!-- The modals content --></div>
<footer class="modal-footer"><!-- Footer --></footer>
</div>

<a href="#!" class="modal-close" title="Close this modal" data-close="Close"
data-dismiss="modal">?</a>
</section>
