/* You can add global styles to this file, and also import other style files */
body, html {
  font-family: 'Montserrat';
  background-color: #1F2436;
}
header {
  border-bottom: 0px !important;
}
h1 {
/*font-family: 'Montserrat';*/
font-family: 'League Spartan';
font-weight: 700;
}
h2 {
/*font-family: 'Montserrat';*/
font-family: 'Montserrat';
font-weight: 300;
}
h3 {
/*font-family: 'Montserrat';*/
font-family: 'League Spartan';
font-weight: 700;
font-size: 2.1em;
margin:7px;
}
h4 {
/*font-family: 'Montserrat';*/
font-family: 'League Spartan';
font-weight: 700;
font-size: 1.8em;
margin:7px;
}
h5 {
/*font-family: 'Montserrat';*/
font-family: 'Montserrat' !important;
font-weight: 600 !important;
font-size: 1.7em;
padding-top:5px !important;
margin-top:0px !important;

margin:0px !important;
margin-left:10px !important;
margin-right:10px !important;
text-align: center !important;

}
h6 {
/*font-family: 'Montserrat';*/
font-family: 'Montserrat';
font-weight: 200;
font-size: 1.4em;
margin:14px;
text-align: center;

}

@media only screen and (min-width: 790px) and (max-width: 1400px)  {
h5 {
  /*font-family: 'Montserrat';*/
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.4em;
  margin:18px;
  text-align: center;
}
h6 {
  /*font-family: 'Montserrat';*/
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.1em;
  margin:18px;
  text-align: center;
}
}
@media only screen and (min-width: 750px) and (max-width: 790px)  {
h5 {
  /*font-family: 'Montserrat';*/
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.2em;
  margin:18px;
  text-align: justify;
}
h6 {
  /*font-family: 'Montserrat';*/
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.89em;
  margin:14px;
  text-align: justify;
}
}
@media only screen and (min-width: 730px) and (max-width: 761px)  {
h5 {
  /*font-family: 'Montserrat';*/
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.5em;
  margin:18px;
  text-align: justify;
}
h6 {
  /*font-family: 'Montserrat';*/
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.3em;
  margin:18px;
  text-align: justify;
}
}
@media only screen and (min-width: 500px) and (max-width: 730px)  {
h5 {
  /*font-family: 'Montserrat';*/
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.5em;
  margin:20px;
  text-align: justify;
}
h6 {
  /*font-family: 'Montserrat';*/
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1.3em;
  margin:18px;
  text-align: justify;
}
}
@media only screen and (max-width: 500px) {
h5 {
  /*font-family: 'Montserrat';*/
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.2em;
  margin:18px;
  text-align: justify;
}
h6 {
  /*font-family: 'Montserrat';*/
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 0.94em;
  margin:15px;
  text-align: justify;
}
}
.title {

/*border-bottom: 4px dashed white;*/
position:relative;
width:100%;
height: 70px;
/*background: #1F2436;*/
border-top: 4px dashed transparent;

}
.more {
border-left: 4px dashed white;
/*border-bottom: 4px dashed white;*/
position:relative;
width:50%;
height: 60px;
float:right;
}

.hours {
border-bottom: 4px dashed white;
position:relative;
width:50%;
height: 60px;
float: left;
}

.coach {
border-left: 4px dashed white;
border-bottom: 4px dashed white;
position:relative;
width:50%;
height: 60px;
float: right;
}

.hoursR {

  position:relative;
  width:50%;
  height: 60px;
  float: left;
  }
  
  .coachR {
  border-left: 4px dashed white;

  position:relative;
  width:50%;
  height: 60px;
  float: right;
  }

.separator {
border-bottom: 4px dashed white;
position:relative;
width:100%;
height: 1px;
}



.left {
background-color: #E74657;
height: 100%;
}
.right {
background-color: #0BA2E4;
height: 100%;
}
.nopadding {
padding: 0 !important;
margin: 0 !important;
}
.page-header {
margin-top: 68px !important;
border-bottom: 0px !important;
}
.headerBackground {
width: 100%;
height:100%;
}

.headerBackgroundWrapper {
position:relative;
}
.logoAnimWrapper {
position: relative;
}

.logoAnim {
width: 46%;
margin: auto;  
position: absolute;
left:0;
right: 20px;
top: 0;
bottom: 0;
-webkit-transition: 1s ease;
-moz-transition: 1s ease;
-o-transition: 1s ease;
 transition: 1s ease;
}
.logoAnim:hover {
-webkit-transform: scale(1.04);
-moz-transform: scale(1.04);
  -o-transform: scale(1.04);
 transform: scale(1.04);
}

.nav {
border: none;
height: 68px;
line-height: 68px;
width: 100%;
padding-left: 40px;
padding-right: 40px;
background-color: #1F2436;
display: inline-block;
z-index: 100;
}

ul, li {
margin: 0 !important;
padding: 0 !important;
/*font-family: 'League Spartan';*/
letter-spacing: 1px;
font-size: 16px;
}


#toggle-nav {
display: none;
}

label[for^="toggle-nav"] {
display: none;
z-index: 9999;
cursor: pointer;
}
.nav [data-icon]:before {
content: attr(data-icon);
}

@media only screen and (max-width: 759px) {
nav.nav {
  height: 68px;
  padding-left: 13px;
  padding: 0px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  background-color: #1F2436;
}

label[for^="toggle-nav"] {
  display: block;
}
#toggle-nav:checked ~ .menu {
  opacity: 1;
  display: block;
}
.menu {

  position: absolute;
  opacity: 0;
  display: none;
  overflow: hidden;
  width: 100%;
}
.menu > li {
  text-align: center;
  display: block;
  width: 100%;
  border-top: 1px solid #ffffff;
}
a {
  margin: -1px !important;
  padding: 0px;
  width:101%;
}
}

a {
color: #ffffff;
}
label[for^="toggle-nav"] {
position: absolute;
top: 0px;
right: 6px;
}

.brand {
font-size: 18px;
letter-spacing: 1px;
margin-left: 10px;
color: white;
}

.nav .menu {
background: #1F2436;
float:right;
margin: 0;
margin-bottom: 20px;
}
.menu > li {
float:left;
list-style: none;
}
.menu > li > a {
margin: 0px 3px;
padding: 0px 5px;
display: block;
}
.special {
background-color: #E74657;
display: inline-block;
}
.navLogo {
margin: 13px 8px;
padding: 0px 0px;
float: left;
-webkit-transition: 0.3s ease;
-moz-transition: 0.3s ease;
-o-transition: 0.3s ease;
 transition: 0.3s ease;
}
.navLogo:hover {
-webkit-transform: scale(1.01);
-moz-transform: scale(1.01);
  -o-transform: scale(1.01);
 transform: scale(1.01);
}
.menu > li > a:hover {
/*background: rgba(255, 0, 0, 0.6);*/
/*color: white;*/
font-weight: 500;
color: white;
text-decoration: none;
}
.nav [data-icon]:before {
color: rgba(0, 0, 0, .7);
font-size: 20px;
/*border: 2px solid rgba(0, 0, 0, .7);*/
padding: 10px 12px;
color: white;
/*border-radius: 25px;*/
}
.nav [data-icon]:hover:before {
background: rgba(0, 0, 0, 0.05);
}



@media only screen and (max-width: 1000px) {
.navLogo {
  margin: 19px 18px;
  padding: 0px 0px;
  width: 20%;
}
ul, li {
  letter-spacing: 0px;
  font-size: 14px;
}
.nav {
  padding-left: 23px;
  padding-right: 23px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}
}

.info{
height: 650px;
background-color: white;
border-style: dashed;
border-width: 10px;
border-color: #1F2436;
}





.col-centered{
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
}

.evenea {
background-color: #1F2436;
width: 0px;
height: 0px;
opacity: 0;
display: none;
}
#evenea-btn{
padding: 18px 30px 18px 35px;
background-color: #E74657;
border: 2px solid white;
font-size: 1.2em;
color: white;
position: relative;
margin: auto;
}
#evenea-btn:hover{
/*top:-2px;*/
text-decoration:none;
font-weight: 500;
border: 4px solid white;
}
#evenea-txt{
  font-weight: 600;
color: white;
font-size: 1.3em;
}
#evenea-r{

padding-top: 10px;
}



@media only screen and (max-width: 759px) {

.evenea{
    height: 150px;
    width: 100%;
    /*padding-top: 30px;*/
    padding: 20px 30px 80px 30px;
    opacity: 1;
    display: block;

}
#evenea-r{
    padding-top: 20px;
    
}
#evenea-txt{
    font-size: 1.4em;
}

}

.scheduleWorkshopBlueS {
color: white;
background-color: #0BA2E4;

border-bottom: 8px dashed #017EB8;


position:relative;
width:100%;
height: 200px;
}

.scheduleWorkshopRedS {
color: white;
background-color: #017EB8;

border-bottom: 8px dashed #0BA2E4;


position:relative;
width:100%;
height: 200px;
}

.scheduleWorkshopBlue {
color: white;
background-color: #C33445;

border-bottom: 8px dashed #E74657;

border-right: 8px dashed #017EB8;
position:relative;
width:100%;
height: 200px;
}

.scheduleWorkshopRed {
color: white;
background-color: #E74657;

border-bottom: 8px dashed #C33445;

border-right: 8px dashed #0BA2E4;
position:relative;
width:100%;
height: 200px;
}

.scheduleSubHeadBlueS {
color: white;
background-color: #0BA2E4;

border-bottom: 8px dashed #017EB8;


position:relative;
width:100%;
height: 55px;
}

.scheduleSubHeadRedS {
color: white;
background-color: #017EB8;

border-bottom: 8px dashed #0BA2E4;


position:relative;
width:100%;
height: 55px;
}


.scheduleSubHeadBlueSF {
  color: white;
  background-color: #0BA2E4;
  
  border-bottom: 8px dashed #017EB8;
  
  
  position:relative;
  width:100%;
  height: 120px;
  }
  
  .scheduleSubHeadRedSF {
  color: white;
  background-color: #017EB8;
  
  border-bottom: 8px dashed #0BA2E4;
  
  
  position:relative;
  width:100%;
  height: 120px;
  }


.scheduleSubHeadBlue {
color: white;
background-color: #C33445;

border-bottom: 8px dashed #E74657;
border-right: 8px dashed #017EB8;

position:relative;
width:100%;
height: 55px;
}

.scheduleSubHeadRedF {
color: white;
background-color: #E74657;

border-bottom: 8px dashed #C33445;
border-right: 8px dashed #0BA2E4;

position:relative;
width:100%;
height: 115px;
}

.scheduleSubHeadBlueF {
  color: white;
  background-color: #C33445;
  
  border-bottom: 8px dashed #E74657;
  border-right: 8px dashed #017EB8;
  
  position:relative;
  width:100%;
  height: 115px;
  }
  
  .scheduleSubHeadRed {
  color: white;
  background-color: #E74657;
  
  border-bottom: 8px dashed #C33445;
  border-right: 8px dashed #0BA2E4;
  
  position:relative;
  width:100%;
  height: 55px;
  }

.head {
color: #1F2436;
background-color: white;
border-style: dashed;
border-width: 10px;
border-color: #1F2436;
position:relative;
width:100%;
height: 90px;
}



.row-fluid {
width:100%;
height:100%;

text-align: center;
position: absolute;
margin:auto;
top:0;
left:0;
bottom:0;
right:0;

}

.vertical-center {
min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
min-height: 100%; /* These two lines are counted as one :-)       */

display: flex;
align-items: center;
}

@media only screen and (max-width: 759px) {
.navLogo{
  width: 30%;
} 
.info{
  border-top: 10px dashed #1F2436;
  border-bottom: 10px dashed #1F2436;
  border-left: 0px dashed #1F2436;
  border-right: 0px dashed #1F2436;
}


.scheduleSubHeadBlueSF {
  color: white;
  background-color: #0BA2E4;
  
  border-bottom: 8px dashed #017EB8;
  
  
  position:relative;
  width:100%;
  height: 120px;
  }
  .scheduleSubHeadBlueF {
    color: white;
    background-color: #C33445;
    
    border-bottom: 8px dashed #E74657;
    border-right: 0px dashed #017EB8;
    
    position:relative;
    width:100%;
    height: 115px;
    }

    .scheduleSubHeadRedF {
      color: white;
      background-color: #E74657;
      
      border-bottom: 8px dashed #C33445;
      border-right: 0px dashed #0BA2E4;
      
      position:relative;
      width:100%;
      height: 115px;
      }

.scheduleWorkshopBlue {
color: white;


border-bottom: 8px dashed #E74657;

border-right: 0px dashed #E74657;
position:relative;
width:100%;
height: 200px;
}

.scheduleWorkshopRed {
color: white;


border-bottom: 8px dashed #C33445;

border-right: 0px dashed #0BA2E4;
position:relative;
width:100%;
height: 200px;
}

.scheduleSubHeadBlue {
color: white;


border-bottom: 8px dashed #E74657;
border-right: 0px dashed #E74657;

position:relative;
width:100%;
height: 55px;
}

.scheduleSubHeadRed {
color: white;


border-bottom: 8px dashed #C33445;
border-right: 0px dashed #0BA2E4;

position:relative;
width:100%;
height: 55px;
}

.headerBackgroundWrapper {
  overflow: hidden;
  height: 100%;
}

.page-header{
  height: 50vh; 
  display: inline-block;
}

.headerBackground {
  height: 640px; 
  object-fit: cover;
}
/*.row { margin:-17px; }*/
.row [class*="col-"]  {
  margin-bottom:-20px;
}
.row:last-child [class*="col-"]:last-child{
  margin-bottom:-20px;
}
}


@media only screen and (max-width: 480px) {
.headerBackground {
  height: 50vh; 
  object-fit: cover;
  width: 100%;
}
/*.row { margin:-17px; }*/
.row [class*="col-"]  {
  margin-bottom:-20px;
}
.row:last-child [class*="col-"]:last-child{
  margin-bottom:-20px;
}
}

.nav {
position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
width: 100%;
}

@media only screen and (min-width: 1350px) {
.nav {
  padding-left: 63px;
  padding-right: 63px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}
.navLogo{
  width:13%;
}
}


@media only screen and (max-width: 1350px) {
.nav {
  padding-left: 23px;
  padding-right: 23px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}
.navLogo{
  margin: 15px 16px;
  width:19%;
}
.logoAnim {
  width: 85%;
  height: auto;
  margin: auto;  
  position: absolute;
  left:0;
  right: 20px;
  top: 0;
  bottom: 0;
}
}


@media only screen and (min-width: 759px) and (max-width: 859px) {
.navLogo{
  margin: 22px 16px;
  width:19%;
}
}
@media only screen and (min-width: 1350px) and (max-width: 1450px)  {
.navLogo{
  margin: 16px 16px;
  width:17%;
}
}

@media only screen and (min-width: 759px) and (max-width: 859px) {
.navLogo{
  margin:32px, 0px;
  width: 19%;
} 

}

@media only screen and (min-width: 600px) and (max-width: 715px) {
.navLogo{
  margin: 18px 16px;
  width: 28%;
} 
}

@media only screen and (max-width: 759px) and (orientation:landscape) {
.navLogo{
  padding-left:8px;
  width: 22%;
}

}
@media only screen and (min-width: 500px) and (max-width: 600px) {
.navLogo{
  padding-left:8px;
  width:42%;
}
.logoAnim {
  width: 75%;
  margin: auto;  
  position: absolute;
  left:0;
  right: 20px;
  top: 0;
  bottom: 0;
}
}
@media only screen and (max-width: 500px) and (orientation:portrait) {
.navLogo{
  padding-left:8px;
  width:42%;
}
}

@media only screen and (max-width: 420px) and (orientation:portrait) {
.navLogo{
  padding-left:8px;
  width:57%;
}
}
agm-map {

  height: 400px;
  width: auto;
  max-width: 200px;

}

.modal-content{
font-size: 20px !important;
border: 8px solid #E74657 !important;
text-align: justify !important;
}

#modal-label {
 height:auto;
 background-color:  #E74657;
 font: "Montserrat";
 font-weight: 400;
 color: white;
 font-size: 25px !important;
 /*display: none !important;*/
 padding:15px !important;
}

.modal-inner {
/*border-radius: 0px !important;*/
background: transparent !important;
box-shadow: 0 0 30px rgba(0, 0, 0, 0.3) !important;

max-width: 100%;

transition: max-width 0.25s linear,
            margin-left 0.125s linear;
}

.modal-close::before {
background: transparent !important;
box-shadow: none !important;
background-color: transparent !important;
}

.modal-footer {
border-top: 0px solid !important;
background: #0BA2E4 !important;
border-radius: 0px;
display: none !important;
}

.notActive{
opacity:30%;
}